flows_SONY-PC.json
[{"id":"b34b99b1.bf3548","type":"tab","label":"Inject","disabled":false,"info":""},{"id":"21c12767.41d038","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"1534ee72.ba5542","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"2343249b.7e526c","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"252d8092.d78c4","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"27ed9ab4.474496","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"404d7d6b.281634","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fae8e92.004d3","type":"ui_group","z":"","name":"Indicadores","tab":"404d7d6b.281634","order":1,"disp":true,"width":"6","collapse":false},{"id":"94d365ae.5d0068","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fbcd54e2.5c80a8","type":"telegrambot-config","z":"","botname":"Gamabot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"b245e882.c978f8","type":"mqtt-broker","z":"","name":"","broker":"iot.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6c94c057.7ac7","type":"ui_group","z":"","name":"botton","tab":"404d7d6b.281634","order":2,"disp":true,"width":"6","collapse":false},{"id":"9392bd48.53e41","type":"inject","z":"b34b99b1.bf3548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola mundo","payloadType":"str","x":140,"y":60,"wires":[["af370a4d.b81398"]]},{"id":"af370a4d.b81398","type":"debug","z":"b34b99b1.bf3548","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"d3ba559d.e55b18","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":80,"y":80,"wires":[["c08837e1.a39f68","4cfc2ef7.b8752"]]},{"id":"1fda23e3.804cbc","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Adios","payloadType":"str","x":100,"y":140,"wires":[["c08837e1.a39f68","4cfc2ef7.b8752"]]},{"id":"c08837e1.a39f68","type":"switch","z":"21c12767.41d038","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"},{"t":"eq","v":"Saludos","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":120,"wires":[["90ce20e8.18c81"],["ced090a2.a69d4"],["6978a993.457878"]]},{"id":"90ce20e8.18c81","type":"debug","z":"21c12767.41d038","name":"Cuando Hola","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"ced090a2.a69d4","type":"debug","z":"21c12767.41d038","name":"Cuando Adios","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"6978a993.457878","type":"debug","z":"21c12767.41d038","name":"saludos","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"3c6a35f1.008aaa","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Saludos","payloadType":"str","x":90,"y":220,"wires":[["c08837e1.a39f68","4cfc2ef7.b8752"]]},{"id":"13f68b6e.67c765","type":"ui_button","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":0,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":80,"y":140,"wires":[["c9e37dab.3121e"]]},{"id":"c9e37dab.3121e","type":"ui_audio","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","voice":"es-ES","always":"","x":250,"y":160,"wires":[]},{"id":"241944ea.ab572c","type":"ui_gauge","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":3,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":280,"wires":[]},{"id":"5c962e6f.e98d1","type":"ui_slider","z":"1534ee72.ba5542","name":"","label":"Medición","tooltip":"","group":"7fae8e92.004d3","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":140,"y":280,"wires":[["241944ea.ab572c","1fef5990.7a10f6","62ead311.cf5fdc"]]},{"id":"bed8c6dc.9082a8","type":"random","z":"1534ee72.ba5542","name":"","low":"1","high":"100","inte":"true","property":"payload","x":220,"y":360,"wires":[["5c962e6f.e98d1"]]},{"id":"f5452037.ca2c2","type":"inject","z":"1534ee72.ba5542","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["bed8c6dc.9082a8"]]},{"id":"1fef5990.7a10f6","type":"ui_chart","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":4,"width":0,"height":0,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":230,"y":460,"wires":[[]]},{"id":"dd2e4c79.66f9a","type":"telegrambot-command","z":"2343249b.7e526c","name":"","bot":"fbcd54e2.5c80a8","command":"hola","commandType":"re","commandCase":false,"x":140,"y":100,"wires":[["377e4664.8f766a","68d849fa.14b098","402b49b8.b89318"]]},{"id":"377e4664.8f766a","type":"debug","z":"2343249b.7e526c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":20,"wires":[]},{"id":"bdb431dc.548b8","type":"telegrambot-notify","z":"2343249b.7e526c","name":"","bot":"fbcd54e2.5c80a8","chatId":"","message":"","parseMode":"","x":760,"y":100,"wires":[]},{"id":"af057a4d.5fabf8","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["b136b187.2ce23"]]},{"id":"b136b187.2ce23","type":"change","z":"252d8092.d78c4","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":80,"wires":[[]]},{"id":"273baef9.cf83d2","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"variable1","payloadType":"flow","x":110,"y":320,"wires":[["b4503301.10dd4"]]},{"id":"b4503301.10dd4","type":"debug","z":"252d8092.d78c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":320,"wires":[]},{"id":"168a05f8.a5288a","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":80,"y":140,"wires":[["b136b187.2ce23"]]},{"id":"1bd00e80.bd9a62","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":80,"y":200,"wires":[["b136b187.2ce23"]]},{"id":"3f20e3d2.f7f4ec","type":"comment","z":"252d8092.d78c4","name":"escritura","info":"aqui inserto valores para la variable","x":90,"y":40,"wires":[]},{"id":"fa7d17c8.bbb148","type":"comment","z":"252d8092.d78c4","name":"lectura","info":"aqui leo el valor de la variable","x":80,"y":280,"wires":[]},{"id":"ddf38b60.c464b8","type":"function","z":"252d8092.d78c4","name":"","func":"var variableNode = global.get('variable1');\nmsg.payload = variableNode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["e2c014c6.d6ff88"]]},{"id":"6c7f9b9b.25c944","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":460,"wires":[["ddf38b60.c464b8"]]},{"id":"e2c014c6.d6ff88","type":"debug","z":"252d8092.d78c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":460,"wires":[]},{"id":"68d849fa.14b098","type":"telegrambot-switch","z":"2343249b.7e526c","name":"Gama","bot":"fbcd54e2.5c80a8","chatId":"","question":"En que puedo ayudarte?","answers":["en todo","en nada"],"outputs":3,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"ms","x":350,"y":100,"wires":[["4103e3b0.bdab0c"],["acb644be.0fad88"],[]]},{"id":"4103e3b0.bdab0c","type":"change","z":"2343249b.7e526c","name":"en todo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Me da mucho gusto","tot":"str"},{"t":"set","p":"variable1","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":60,"wires":[["bdb431dc.548b8"]]},{"id":"acb644be.0fad88","type":"change","z":"2343249b.7e526c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"chido","tot":"str"},{"t":"set","p":"variable1","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["bdb431dc.548b8"]]},{"id":"4cfc2ef7.b8752","type":"switch","z":"21c12767.41d038","name":"","property":"variable1","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":340,"wires":[["372855e4.d9069a"],["2efa157c.d2744a"]]},{"id":"372855e4.d9069a","type":"debug","z":"21c12767.41d038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"2efa157c.d2744a","type":"debug","z":"21c12767.41d038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":400,"wires":[]},{"id":"402b49b8.b89318","type":"change","z":"2343249b.7e526c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":".telegram.from.firstname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["f04ce77f.0be428"]]},{"id":"f04ce77f.0be428","type":"link out","z":"2343249b.7e526c","name":"variable-firstname","links":["9721b016.be7e6"],"x":525,"y":220,"wires":[]},{"id":"673e37db.794e48","type":"function","z":"252d8092.d78c4","name":"","func":"msg.payload = 'Hola ' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":560,"wires":[["74444b47.07f564"]]},{"id":"370a41a.f6c29be","type":"link in","z":"252d8092.d78c4","name":"","links":[],"x":95,"y":560,"wires":[["673e37db.794e48"]]},{"id":"fa9b25d1.d27d88","type":"comment","z":"252d8092.d78c4","name":"como bajar variable global","info":"como bajar variable global","x":150,"y":360,"wires":[]},{"id":"7823d4d5.eb8d8c","type":"comment","z":"252d8092.d78c4","name":"como conectar nodos globales","info":"","x":170,"y":520,"wires":[]},{"id":"74444b47.07f564","type":"link out","z":"252d8092.d78c4","name":"variables-link","links":[],"x":355,"y":560,"wires":[]},{"id":"2507aa94.0ed4e6","type":"link out","z":"2343249b.7e526c","name":"","links":[],"x":585,"y":220,"wires":[]},{"id":"4c5f1328.7049dc","type":"mqtt out","z":"27ed9ab4.474496","name":"","topic":"curso/gamaliel","qos":"","retain":"","broker":"b245e882.c978f8","x":380,"y":100,"wires":[]},{"id":"4483d992.284898","type":"inject","z":"27ed9ab4.474496","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Que paso gallo","payloadType":"str","x":190,"y":100,"wires":[["4c5f1328.7049dc"]]},{"id":"161a1086.6922bf","type":"debug","z":"27ed9ab4.474496","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":200,"wires":[]},{"id":"c0f219b2.866148","type":"mqtt in","z":"27ed9ab4.474496","name":"","topic":"curso/gamaliel","qos":"2","datatype":"auto","broker":"b245e882.c978f8","x":150,"y":200,"wires":[["161a1086.6922bf"]]},{"id":"3dd35ae7.7aff96","type":"mqtt in","z":"27ed9ab4.474496","name":"","topic":"curso/+/sensor","qos":"2","datatype":"auto","broker":"b245e882.c978f8","x":160,"y":300,"wires":[["3c738d0f.dc8c22"]]},{"id":"7c8c7cd1.961ac4","type":"mqtt in","z":"27ed9ab4.474496","name":"","topic":"curso/#","qos":"2","datatype":"auto","broker":"b245e882.c978f8","x":130,"y":380,"wires":[["75199da.21fcd64"]]},{"id":"a9e9192e.e86858","type":"debug","z":"27ed9ab4.474496","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"75199da.21fcd64","type":"debug","z":"27ed9ab4.474496","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":380,"wires":[]},{"id":"62ead311.cf5fdc","type":"mqtt out","z":"1534ee72.ba5542","name":"","topic":"curso/david/sensor","qos":"","retain":"","broker":"b245e882.c978f8","x":430,"y":320,"wires":[]},{"id":"3c738d0f.dc8c22","type":"delay","z":"27ed9ab4.474496","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":300,"wires":[["a9e9192e.e86858"]]},{"id":"a3e4e8cc.89e638","type":"mqtt out","z":"1534ee72.ba5542","name":"","topic":"curso/david/chat","qos":"","retain":"","broker":"b245e882.c978f8","x":320,"y":580,"wires":[]},{"id":"cec96d09.f6dca","type":"ui_text","z":"1534ee72.ba5542","group":"7fae8e92.004d3","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":660,"wires":[]},{"id":"4c3e269a.39e7d8","type":"mqtt in","z":"1534ee72.ba5542","name":"","topic":"curso/+/chat","qos":"2","datatype":"auto","broker":"b245e882.c978f8","x":110,"y":660,"wires":[["cec96d09.f6dca","c9e37dab.3121e"]]},{"id":"e2ebf77.70b8e08","type":"ui_text_input","z":"1534ee72.ba5542","name":"","label":"chat","tooltip":"","group":"7fae8e92.004d3","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":110,"y":580,"wires":[["a3e4e8cc.89e638"]]}]