flows_SONY-PC.json
[{"id":"b34b99b1.bf3548","type":"tab","label":"Inject","disabled":false,"info":""},{"id":"21c12767.41d038","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"1534ee72.ba5542","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"2343249b.7e526c","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"252d8092.d78c4","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"404d7d6b.281634","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"7fae8e92.004d3","type":"ui_group","z":"","name":"Indicadores","tab":"404d7d6b.281634","order":1,"disp":true,"width":"6","collapse":false},{"id":"94d365ae.5d0068","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fbcd54e2.5c80a8","type":"telegrambot-config","z":"","botname":"Gamabot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"9392bd48.53e41","type":"inject","z":"b34b99b1.bf3548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola mundo","payloadType":"str","x":140,"y":60,"wires":[["af370a4d.b81398"]]},{"id":"af370a4d.b81398","type":"debug","z":"b34b99b1.bf3548","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":60,"wires":[]},{"id":"d3ba559d.e55b18","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola","payloadType":"str","x":80,"y":80,"wires":[["c08837e1.a39f68"]]},{"id":"1fda23e3.804cbc","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Adios","payloadType":"str","x":100,"y":140,"wires":[["c08837e1.a39f68"]]},{"id":"c08837e1.a39f68","type":"switch","z":"21c12767.41d038","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"},{"t":"eq","v":"Saludos","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":120,"wires":[["90ce20e8.18c81"],["ced090a2.a69d4"],["6978a993.457878"]]},{"id":"90ce20e8.18c81","type":"debug","z":"21c12767.41d038","name":"Cuando Hola","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":40,"wires":[]},{"id":"ced090a2.a69d4","type":"debug","z":"21c12767.41d038","name":"Cuando Adios","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":140,"wires":[]},{"id":"6978a993.457878","type":"debug","z":"21c12767.41d038","name":"saludos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":220,"wires":[]},{"id":"3c6a35f1.008aaa","type":"inject","z":"21c12767.41d038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Saludos","payloadType":"str","x":90,"y":220,"wires":[["c08837e1.a39f68"]]},{"id":"13f68b6e.67c765","type":"ui_button","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":0,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Saludos a todos","payloadType":"str","topic":"","x":80,"y":140,"wires":[["c9e37dab.3121e"]]},{"id":"c9e37dab.3121e","type":"ui_audio","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","voice":"es-ES","always":"","x":250,"y":160,"wires":[]},{"id":"241944ea.ab572c","type":"ui_gauge","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":3,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":280,"wires":[]},{"id":"5c962e6f.e98d1","type":"ui_slider","z":"1534ee72.ba5542","name":"","label":"Medición","tooltip":"","group":"7fae8e92.004d3","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":140,"y":280,"wires":[["241944ea.ab572c","1fef5990.7a10f6"]]},{"id":"bed8c6dc.9082a8","type":"random","z":"1534ee72.ba5542","name":"","low":"1","high":"100","inte":"true","property":"payload","x":220,"y":360,"wires":[["5c962e6f.e98d1"]]},{"id":"f5452037.ca2c2","type":"inject","z":"1534ee72.ba5542","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["bed8c6dc.9082a8"]]},{"id":"1fef5990.7a10f6","type":"ui_chart","z":"1534ee72.ba5542","name":"","group":"7fae8e92.004d3","order":4,"width":0,"height":0,"label":"Grafica","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":230,"y":460,"wires":[[]]},{"id":"dd2e4c79.66f9a","type":"telegrambot-command","z":"2343249b.7e526c","name":"","bot":"fbcd54e2.5c80a8","command":"hola","commandType":"re","commandCase":false,"x":140,"y":100,"wires":[["377e4664.8f766a","bdb431dc.548b8"]]},{"id":"377e4664.8f766a","type":"debug","z":"2343249b.7e526c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"bdb431dc.548b8","type":"telegrambot-notify","z":"2343249b.7e526c","name":"","bot":"fbcd54e2.5c80a8","chatId":"","message":"","parseMode":"","x":360,"y":140,"wires":[]},{"id":"af057a4d.5fabf8","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["b136b187.2ce23"]]},{"id":"b136b187.2ce23","type":"change","z":"252d8092.d78c4","name":"","rules":[{"t":"set","p":"variable1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":80,"wires":[[]]},{"id":"273baef9.cf83d2","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"variable1","payloadType":"flow","x":110,"y":320,"wires":[["b4503301.10dd4"]]},{"id":"b4503301.10dd4","type":"debug","z":"252d8092.d78c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":320,"wires":[]},{"id":"168a05f8.a5288a","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":80,"y":140,"wires":[["b136b187.2ce23"]]},{"id":"1bd00e80.bd9a62","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":80,"y":200,"wires":[["b136b187.2ce23"]]},{"id":"3f20e3d2.f7f4ec","type":"comment","z":"252d8092.d78c4","name":"escritura","info":"aqui inserto valores para la variable","x":90,"y":40,"wires":[]},{"id":"fa7d17c8.bbb148","type":"comment","z":"252d8092.d78c4","name":"lectura","info":"aqui leo el valor de la variable","x":80,"y":280,"wires":[]},{"id":"ddf38b60.c464b8","type":"function","z":"252d8092.d78c4","name":"","func":"var variableNode = flow.get('variable1');\nmsg.payload = variableNode;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":460,"wires":[["e2c014c6.d6ff88"]]},{"id":"6c7f9b9b.25c944","type":"inject","z":"252d8092.d78c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":460,"wires":[["ddf38b60.c464b8"]]},{"id":"e2c014c6.d6ff88","type":"debug","z":"252d8092.d78c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":460,"wires":[]}]